.fs-detail-info {
    position: fixed;
    top: 0px;
    left: 250px;
    z-index: 99999999;
    padding: 5px 5px 0px 5px;
    color: #666;
}

.fs-detail-info .fs-btn {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
}
