#page {
    position: absolute;
    right: 10px;
}
.fs-detail-info {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    padding: 5px 5px 0px 5px;
    background-color: #FFF;
    bottom: 0px;
    width: 654px;
    color: #666;
}
.fs-detail-info .title {
    text-align: center;
    font-weight: bold;
    color: #000;
}
.fs-detail-info .attr-ul {
    overflow: hidden;
    text-indent: 0;
    list-style: none;
    font-size: 14px;
    background-color: #FFF;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
.fs-detail-info .attr-ul li {
    display: inline;
    float: left;
    width: 200px;
    height: 18px;
    overflow: hidden;
    margin: 10px 15px 0 0;
    line-height: 18px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fs-detail-info .sku-info {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 30px;
    border-color: #DEDEDE;
    border: 1px solid #DEDEDE;
}
.fs-detail-info .sku-info .other-size {
    display: none;
}
.fs-detail-info .sku-info .s-size {
}
.fs-detail-info .sku-info .m-size {
}
.fs-detail-info .sku-info .l-size {
}
.fs-detail-info .sku-info .zero-quantity {
    color: #FF4343;
    font-weight: bold;
}
.fs-detail-info .sku-info .low-quantity {
    color: #FFD400;
    font-weight: bold;
}
.fs-detail-info .sku-info .ample-quantity {
    color: #58D250;
    font-weight: bold;
}
.fs-detail-info .fs-btn {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
}
.no-find-property {
    outline: 1px solid #FFB7B7;
    outline-offset: -1px;
}